* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
button{
  border: 2px solid red;
  color: green;
  border-block-end: solid pink;
}
form{
  border: 5px solid;
  border-color: chocolate;
  color: rgb(62, 99, 26);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1px;
  padding: 6px;
}
.grid-container{
  border: 1px solid yellow;
  margin: 1px;
  
  height: 1pm solid yellowgreen;
  display: grid;
  grid-column-gap: 50px;
}
p{
  color: blueviolet;  
}
table{
  background-color: rgb(46, 42, 42);
  border: 5px solid maroon;
  color: rgb(58, 156, 58);
  font-family: cursive;
  grid-row: auto;
}
