* {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

button {
  border: 2px solid red;
  color: green;
  border-block-end: solid pink;
}

form {
  border: 5px solid;
  border-color: chocolate;
  color: rgb(62, 99, 26);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1px;
  padding: 6px;
}

.grid-container {
  background-color: rgb(65, 91, 173);
  border: 1px solid gold ;
  display: inline-grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  
  padding: 5px;

  margin: 15px;
  
  // height: 1pm solid yellowgreen;
  
}

.grid-item {
  background-color: rgba(158, 34, 34, 0.8);
  border: 1px solid rgba(102, 15, 136, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

p {
  color: blueviolet;  
}

table{
  background-color: rgb(46, 42, 45);
  border: 5px solid maroon;
  color: rgb(58, 156, 58);
  font-family: cursive;
  grid-row: auto;
  column-count: 3;
  column-width: 20% 10% auto;
}

.w3-table-w3-striped {
  //color: yellow;
}

/*
.tableBody {
  color: blueviolet;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  display: grid;
  grid-area: 
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}
*/